<!-- # package count
# version count
# number of saved archives
# total size of saved archives -->
<h1 class="display-1">
  <%= pluralize(Package.count, 'package') %> indexed
</h1>

<h1 class="display-2">
  <%= pluralize(Version.count, 'versions') %> found
</h1>

<h1 class="display-3">
  <%= pluralize(0, 'tarball') %> archived
</h1>

<h1 class="display-3">
  <%= number_to_human_size(0).downcase %> stored
</h1>
