<!-- # package count
# version count
# number of saved archives
# total size of saved archives -->
<h1 class="display-1">
  <span class='text-primary'><%= number_to_human Package.count %></span> packages indexed
</h1>

<h1 class="display-2">
  <span class='text-success'><%= number_to_human Version.count %></span> found
</h1>

<h1 class="display-3">
  <span class='text-danger'>0</span> tarballs archived
</h1>

<h1 class="display-3">
  <span class='text-info'>0</span> bytes stored
</h1>
